<?xml version="1.0" encoding="UTF-8"?>

<!-- widget container for all other elements -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.18009037.climbnhike"
        version   = "1.0.0">

    <name>Climb n Hike</name>

    <description>
        A PhoneGap application giving Climbers and Hikers a host of virtual aids and tools.
    </description>

    <!-- app icons (IOS) -->
    <platform name="ios">
        <icon src="media/appIcons/icon/ios/icon-1024.png" width="1024" height="1024"/>
        <icon src="media/appIcons/icon/ios/icon-small.png" width="29" height="29"/>
        <icon src="media/appIcons/icon/ios/icon-small@2x.png" width="58" height="58"/>
        <icon src="media/appIcons/icon/ios/icon-small@3x.png" width="87" height="87"/>
        <icon src="media/appIcons/icon/ios/icon-small-40.png" width="40" height="40"/>
        <icon src="media/appIcons/icon/ios/icon-small-40@2x.png" width="80" height="80"/>
        <icon src="media/appIcons/icon/ios/icon-small-40@3x.png" width="120" height="120"/>
        <icon src="media/appIcons/icon/ios/icon-small-50.png" width="50" height="50"/>
        <icon src="media/appIcons/icon/ios/icon-small-50@2x.png" width="100" height="100"/>
        <icon src="media/appIcons/icon/ios/icon.png" width="57" height="57"/>
        <icon src="media/appIcons/icon/ios/icon@2x.png" width="114" height="114"/>
        <icon src="media/appIcons/icon/ios/icon-60.png" width="60" height="60"/>
        <icon src="media/appIcons/icon/ios/icon-60@2x.png" width="120" height="120"/>
        <icon src="media/appIcons/icon/ios/icon-60@3x.png" width="180" height="180"/>
        <icon src="media/appIcons/icon/ios/icon-72.png" width="72" height="72"/>
        <icon src="media/appIcons/icon/ios/icon-72@2x.png" width="144" height="144"/>
        <icon src="media/appIcons/icon/ios/icon-76.png" width="76" height="76"/>
        <icon src="media/appIcons/icon/ios/icon-76@2x.png" width="152" height="152"/>
        <icon src="media/appIcons/icon/ios/icon-167.png" width="167" height="167"/>
        <icon src="media/appIcons/icon/ios/icon-83.5@2x.png" width="167" height="167"/>

        <!-- Splash loading screens-->
        <!--  Storyboard portrait  -->
        <splash src="media/appIcons/screen/ios/Default@2x~iphone~anyany.png"/>
        <splash src="media/appIcons/screen/ios/Default@2x~iphone~comany.png"/>
        <splash src="media/appIcons/screen/ios/Default@3x~iphone~anyany.png"/>
        <splash src="media/appIcons/screen/ios/Default@3x~iphone~comany.png"/>
        <splash src="media/appIcons/screen/ios/Default@2x~ipad~anyany.png"/>
        <splash src="media/appIcons/screen/ios/Default@2x~ipad~comany.png"/>
    </platform>



    <author href="https://www.worcester.ac.uk" email="lloh1_18@uni.worc.ac.uk">
        18009037 - Student
    </author>

    <preference name="phonegap-version" value="cli-7.0.1" />

    <preference name="permissions"                value="none"/>

    <!-- plugins -->
    <!-- allow navigation to any off app urls not just file links, requested internet access -->
    <access origin="*"/>
    <!-- plugin for off app navigation-->
    <plugin name="cordova-plugin-whitelist" version="1" />

    <!-- google maps plugin -->
    <plugin name="plugin.google.maps.menusito" spec="1.2.5" source="pgb" />
    <!-- plugin to access device location -->
    <plugin name="cordova-plugin-geolocation" spec="~4.0.2" />
    <!-- allows battery level notification in app -->
    <plugin name="cordova-plugin-battery-status" spec="~2.0.3" />
    <!-- network information plugin to return network strength -->
    <plugin name="cordova-plugin-network-information" spec="~2.0.2" />
    <!-- allows use of splash loading screens-->
    <plugin name="cordova-plugin-splashscreen" spec="~5.0.4" />

    <!-- IOS 10 and later user permission access -->
    <config-file platform="ios" parent="NSLocationWhenInUseUsageDescription" mode="merge">
        <array>
            <key>NSLocationWhenInUseUsageDescription</key>
            <string>Please allow location access for the app.</string>
        </array>
    </config-file>

</widget>
