<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->

<!--Change Widget -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "mob.app.dev.lifecycle"
        version   = "1.0.0">

    <name>Climb n Hike</name>

    <description>
        A PhoneGap application giving Climbers and Hikers a host of virtual aids and tools.
    </description>
    
    
    <icon src="media/appIcons/apple-icon-precomposed.png" platform="ios" width="57" height="57" density="mdpi" />
    
    
    
    

    <author href="worcester.ac.uk" email="lloh1_18@uni.worc.ac.uk">
        18009037 - Student
    </author>

    <preference name="phonegap-version" value="cli-7.0.1" />
	
    <preference name="permissions"                value="none"/>   
	
	<access origin="*"/>
   	<plugin name="cordova-plugin-whitelist" version="1" />
</widget>
